.card {
    font-size: 20px;
    font-weight: 900;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3;
    width: 430px;
    height: 228px;
    margin-top: 20px;
}

.chart-container {
    width: 432px;
    height: 120px;
    /* padding: 2px 16px; */

}

.card-name-price {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}


.card-image-priceChange {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

.image-symbol-container {
    display: flex;
}

img {
    height: 20px;
}


